<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>
<body>

  <%- include('./partials/header') %>
  <main>
    <article class="producto">
        <div class="contenedor-foto-producto">
          <img src="<%= fruto.image %>" class="foto-producto">
      </div>
      <div class="descripcion">
          <i class="fas fa-truck"></i>
          <p class="precio">$<%= fruto.price %></p>
          <p class="nombre"><%= fruto.name %> </p>
          <div>
            <p class="parrafo" ><%= fruto.description %> </p> 
        </div>
      </div>
      <a href="/products/detail/<%= fruto.id %>/edit"> 
        <button type="submit">
          editar
        </button>
      </a>
      </article> 
    
  </main>

  <%- include('./partials/footer') %>