<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>
<body>

  <%- include('./partials/header') %>
  <main>
    <article class="producto">
        <div class="contenedor-foto-producto">
          <img src="/img/<%= producto.image %>" class="foto-producto">
      </div>
      <div class="descripcion">
          <i class="fas fa-truck"></i>
          <p class="precio">$<%= producto.price %></p>
          <p class="nombre"><%= producto.title %> </p>
          <div>
            <p class="parrafo" ><%= producto.description %> </p> 
        </div>
      </div>
      <a href="/products/detail/<%= producto.id %>/edit" > 
        <button type="submit" class="boton">
          editar
        </button>
      </form></a>
      <form action="/carritoDeCompras/add/<%= producto.id %>" method="POST" id="formulario">
        <div 
            <p class="label"><label for="quantity"></label>Cantidad:</p>
        <input class="contadorgz" type="number" name="quantity" id="quantity" value="1">
    </div>
    <button class="boton" type="submit">Agregar al carrito</button>
      </form> 
      
      </article> 
    
  </main>

  <%- include('./partials/footer') %>