<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

  <%- include('./partials/header') %>

  <main>

    <img src="/img/banner_index.png" class="banner-index">

    <a href="/products/list" class="barra-categorias" <h2>VER TODOS LOS PRODUCTOS</h2></a>
    
    <main>
      <div class="titulo-pn">
          <h2>PRODUCTOS VEGANOS MAS VENDIDOS</h2>
        </div>
      <section>
        
        <% productos.forEach(function(producto) { %>
          <% if (producto.category_id == 1 && producto.id < 5 ){%>
          <article class="producto">
            <a href="/products/detail/<%= producto.id %>"> <div class="contenedor-foto-producto">
            <% if (producto.image != null) { %>
              <img src="/img/<%= producto.image %>" class="foto-producto"> 
            <% } else { %>
            <img src="/img/productDefault.png" class="foto-producto"> 
             <% } %>
             <!--? producto.image: 'productDefault.png' --> 
          </div>
          <div class="descripcion">
              <i class="fas fa-truck"></i>
              <p class="precio">$<%= producto.price %></p>
              <p class="nombre"><%= producto.title %> </p>
              <button class="boton" type="submit">añadir al carrito</button>
          </div>
          </a>
          </article> 
          <% }}) %>
      </section>
      <div class="titulo-pn">
        <h2>FRUTOS SECOS MAS VENDIDOS</h2>
      </div>
      <section>
      
      <% productos.forEach(function(producto) { %>
        <% if (producto.category_id == 2 && producto.id < 13 && producto.id > 8){%>
        <article class="producto">
          <a href="/products/detail/<%= producto.id %>"> <div class="contenedor-foto-producto">
          <% if (producto.image != null) { %>
            <img src="/img/<%= producto.image %>" class="foto-producto"> 
          <% } else { %>
          <img src="/img/productDefault.png" class="foto-producto"> 
           <% } %>
           <!--? producto.image: 'productDefault.png' --> 
        </div>
        <div class="descripcion">
            <i class="fas fa-truck"></i>
            <p class="precio">$<%= producto.price %></p>
            <p class="nombre"><%= producto.title %> </p>
        </div>
        </a>
        </article> 
        <% }}) %>
      </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>

  

