<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>
<body>

  <%- include('./partials/header') %>
  <main>
    <section>
      <% frutos.forEach(function(fruto) { %>
        <article class="producto">
          <a href=""> <div class="contenedor-foto-producto">
            <img src="<%= fruto.image %>" class="foto-producto">
        </div>
        <div class="descripcion">
            <i class="fas fa-truck"></i>
            <p class="precio">$<%= fruto.price %></p>
            <p class="nombre"><%= fruto.name %> </p>
        </div>
        </a>
        </article> 
        <% }) %>
    </section>
  </main>

  <%- include('./partials/footer') %>