<!DOCTYPE html>
<html lang="en">
  
    <head>
      <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    </head>
    
<body>

  <%- include('./partials/header') %>
  <main>
    <section>
      <% productos.forEach(function(producto) { %>
        <article class="producto">
          <a href="/products/detail/<%= producto.id %>"> <div class="contenedor-foto-producto">
           <img src="../../public/img/<% producto.image ? producto.image: "productDefault.png" %>  class="foto-producto"> 

        </div>
        <div class="descripcion">
            <i class="fas fa-truck"></i>
            <p class="precio">$<%= producto.price %></p>
            <p class="nombre"><%= producto.title %> </p>
        </div>
        </a>
        </article> 
        <% }) %>
    </section>
    
  </main>

  <%- include('./partials/footer') %>