<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

  <%- include('./partials/header') %>
  <main>
    <article class="usuario">
        <div class="contenedor-foto-usuario">
          <img src="/img/<%= user.image %>" class="foto-usuario">
      </div>
      <div class="descripcion">
          <p class="nombre"><%= user.firstName %></p>
          <p class="apellido"><%= user.lastname %> </p>
          
      </div>
      <form action="/users/logout" method="GET">
        <button class="boton" type="submit" id="logout" name="logout">logout</button>
      </form> 
    </article>

  </main>

  <%- include('./partials/footer') %>
</body>
</html>