<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>

    <%- include('./partials/header') %>

    <main>
        <section class="form-register">


            <form action="/users/create" method="POST" enctype="multipart/form-data">


                <h4>Formulario Registro</h4>
                <div>
                    <label for="firstName">Nombre</label>
                    <input class="control " type="text" name="firstName" id="firstName" value="<%=locals.oldData ? oldData.firstName:null%>" placeholder="ej:HE-MAN83">
                    <% if (locals.errores && errores.fisrtName) { %>
                        <span> <%= errores.fisrtName.msg %> </span>
                       
                     <% } %>
                </div>

                <div>
                    <label for="lastName">Apellido</label>
                    <input class="control " type="text" name="lastName" id="lastName" value="<%=locals.oldData ? oldData.lastName:null%>" placeholder="ej:HE-MAN83">
                    <% if (locals.errores && errores.lastName) { %>
                        <span> <%= errores.lastName.msg %> </span>
                       
                     <% } %>
                </div>

                <div>
                    <label for="email">Mail</label>
                    <input class="control " type="email" name="email" id="email" value="<%=locals.oldData ? oldData.email:null%>" placeholder="ej:JuanPerez@mail.com">
                    <% if (locals.errores && errores.email) { %>
                        <span> <%= errores.email.msg %> </span>
                       
                     <% } %>
                </div>

                <div>
                    <label for="re-password">Contraseña</label>
                    <input class="control " type="password" name="password"  id="password">
                    <% if (locals.errores && errores.password) { %>
                        <span> <%= errores.password.msg %> </span>
                       
                     <% } %>
                </div>

                <div>
                    <label for="gender">Genero</label>
                    <input class="control " type="text" name="gender" value="<%=locals.oldData ? oldData.gender:null%>" id="gender">
                    <% if (locals.errores && errores.gender) { %>
                        <span> <%= errores.gender.msg %> </span>
                       
                     <% } %>
                </div>

                <!--<div>
                    <label for="image">Imagen</label>
                    <input class="control " type="file" name="image" id="image">
                    <% if (locals.errores && errores.image) { %>
                        <span> <%= errores.image.msg %> </span>
                       
                     <% } %>
                </div> -->

                

                <button class="boton" type="submit">Registrarse</button>

                <div class="errores">
                    <ul> </ul>
                </div>
                
            </form>
        </section>
    </main>

    <%- include('./partials/footer') %>
    
</body>

</html>